@media screen and (min-width: 576px)
    .img-boxes
        grid-template-columns: 1fr 1fr

    .bigtext
        font-size: 2em

    .testimonial
        flex-direction: row

        &__img
            margin-bottom: 0
            margin-right: 30px

    .related
        grid-gap: 60px
        grid-template-columns: repeat(2, 1fr)

    .contact
        &__text
            &--social
                & > strong
                    padding: 0 15%

    .hero
        &__text-box
            +font-size(40)
            padding-left: 30px

    .footer
        &__nav
            flex-direction: row

@media screen and (min-width: 768px)
    .products
        grid-template-columns: repeat(3, 1fr)
        justify-content: space-between

    .testimonials
        flex-direction: row

        &__box
            margin-bottom: 0
            margin-right: 60px

            &:last-of-type
                border-left: 1px solid $color-secondary
                border-top: 0
                margin-right: 0
                padding-left: 60px
                padding-top: 15px

    .testimonial
        flex-direction: column

        &__img
            margin-bottom: 30px
            margin-right: 0

    .hero
        &__text-box
            +font-size(50)
            padding-left: 60px

    .two-col
        flex-direction: row

    .wholesale
        flex-direction: row

        &__left
            padding-right: 30px

        &__right
            padding-left: 30px

        &__form
            &-info
                flex-direction: row

            &-meta,
            &-message
                margin-bottom: 0

            &-meta
                margin-right: 15px

            &-message
                margin-left: 15px

            textarea
                height: 100%

    .product
        flex-direction: row

        &__images
            padding-right: 15px

        &__gallery
            grid-gap: 30px

        &__info
            padding-left: 15px

        &__quantity
            margin-right: 30px

        &__social
            padding: 15px 30px

    .contact
        &__info
            flex-direction: row

        &__column
            margin-bottom: 0

        &__text--social
            & > strong
                padding: 0

        &__form
            form
                p
                    grid-template-columns: repeat(3, 1fr)

            input
                &[type='submit']
                    grid-column: 2

            .message
                grid-column: span 3

    .masthead
        +font-size(12)
        flex-direction: row
        padding: 0 15px
        text-align: left

        &__contact,
        &__newsletter,
        &__shop
            padding-bottom: 5px
            padding-top: 5px

        &__newsletter
            left: 50%
            padding-left: 5%
            padding-right: 5%
            position: absolute
            transform: translateX(-50%)

    .header
        .dropdown-item
            text-align: left

    .carousel-caption
        left: 5vw
        min-width: 650px
        right: unset
        top: 5vw
        width: 45%

    .footer-boxes
        flex-direction: row

    .footer
        flex-direction: row

        &__logo
            margin-bottom: 0

        &__info
            margin-left: 30px
            padding: 0

        &__contact
            flex-direction: row

            & > a
                margin-bottom: 0

            span
                display: initial

        &__social
            +font-size(18)
            margin-bottom: 0

            a
                margin-right: 5px

    .copyright
        &__nav
            flex-direction: row

            .nav-item
                margin-bottom: 0

@media screen and (min-width: 992px)
    .img-boxes
        display: flex
        justify-content: space-between

    .products
        grid-gap: 60px

        &--cart
            grid-gap: 30px

    .product
        &__images
            padding-right: 30px

        &__info
            padding-left: 30px

    .testimonial
        flex-direction: row

        &__img
            margin-bottom: 0
            margin-right: 30px

    .related
        grid-template-columns: repeat(4, 1fr)

    .woocommerce
        .cart-collaterals
            .cross-sells
                float: left
                width: 48%

            .cart_totals // sass-lint:disable-line class-name-format
                float: right
                width: 48%

    .hero
        &__text-box
            +font-size(80)

    .header
        &__nav
            width: 50%

    .footer-box
        &__heading
            h2
                +font-size(32)

        &__text
            +font-size(22)

        &__subtext
            +font-size(18)

    .carousel-caption
        min-width: 800px

@media screen and (min-width: 1200px)
