@font-face
    font-family: 'Silver South Script'
    src: url('fonts/SilverSouth/Silver-South-Script.otf')

@font-face
    font-family: 'Silver South Serif'
    src: url('fonts/SilverSouth/Silver-South-Serif.otf')

@font-face
    font-family: 'Chronicle Display Semi'
    src: url('fonts/OpenType/ChronicleDisp-Semibold.otf')

@font-face
    font-family: 'Chronicle Display Light'
    src: url('fonts/OpenType/ChronicleDisp-Light.otf')

@font-face
    font-family: 'Chronicle Display XLight'
    src: url('fonts/OpenType/ChronicleDisp-XLight.otf')

@font-face
    font-family: 'Calma Display SemiBold'
    src: url('fonts/Calma/Calma-Display-SemiBold.otf')


// COLORS
$color-primary: #4a494e
$color-primary-light: #626c75
$color-primary-lighter: #8b9c96
$color-secondary: #d29b22
$color-text-light: #ece9e4
$color-btn-primary: #ffb614
$color-white: #fff
$color-black: #000

$color-shadow: rgba(0, 0, 0, .4)


// FONT SIZE
=font-size($size)
    font-size: $size + px
    font-size: $size / 10 + rem


// FONTS
%font-silver-south-script
    font-family: 'Silver South Script', serif

%font-silver-south-serif
    font-family: 'Silver South Serif', serif

%font-chronicle-display-semi
    font-family: 'Chronicle Display Semi', serif

%font-chronicle-display-light
    font-family: 'Chronicle Display Light', serif

%font-chronicle-display-xlight
    font-family: 'Chronicle Display XLight', serif

%font-calma-display-semibold
    font-family: 'Calma Display SemiBold', sans-serif
