@font-face {
  font-family: "Silver South Script";
  src: url("fonts/SilverSouth/Silver-South-Script.otf");
}
@font-face {
  font-family: "Silver South Serif";
  src: url("fonts/SilverSouth/Silver-South-Serif.otf");
}
@font-face {
  font-family: "Chronicle Display Semi";
  src: url("fonts/OpenType/ChronicleDisp-Semibold.otf");
}
@font-face {
  font-family: "Chronicle Display Light";
  src: url("fonts/OpenType/ChronicleDisp-Light.otf");
}
@font-face {
  font-family: "Chronicle Display XLight";
  src: url("fonts/OpenType/ChronicleDisp-XLight.otf");
}
@font-face {
  font-family: "Calma Display SemiBold";
  src: url("fonts/Calma/Calma-Display-SemiBold.otf");
}
.script {
  font-family: "Silver South Script", serif;
}

.bigtext, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chronicle Display Semi", serif;
}

.footer-box__heading h2, .header .nav-link {
  font-family: "Chronicle Display Light", serif;
}

.featured-products__price {
  font-family: "Chronicle Display XLight", serif;
}

.carousel__heading {
  font-family: "Calma Display SemiBold", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #000;
  font-family: "Open Sans";
  font-size: 1.6rem;
}

h1 {
  font-size: 28px;
  font-size: 2.8rem;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
}

h3 {
  font-size: 22px;
  font-size: 2.2rem;
}

h4 {
  font-size: 20px;
  font-size: 2rem;
}

h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

p {
  margin-bottom: 15px;
}

div {
  background-position: center center;
  background-size: cover;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #d29b22;
}
a:hover {
  color: #d29b22;
  text-decoration: underline;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.alignright,
.alignleft {
  margin-bottom: 15px;
}
.alignright::after,
.alignleft::after {
  clear: both;
  content: " ";
  display: table;
}

.btn {
  border: 0;
  border-radius: 0;
  padding: 5px 30px;
  transition: box-shadow 0.1s linear, background-color 0.1s linear;
}
.btn:hover {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
}
.btn:active {
  border: 0;
}
.btn:focus {
  box-shadow: none;
}

.btn-primary {
  font-size: 16px;
  font-size: 1.6rem;
  background-color: #ffb614;
  color: #fff;
  font-style: italic;
}
.btn-primary:hover {
  background-color: #ffb614;
}
.btn-primary:active {
  background-color: #d29b22;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #d29b22;
  box-shadow: none;
}

.btn-center {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.script {
  font-size: 1.56em;
}

.subtext {
  font-size: 0.82em;
}

.bigtext {
  font-size: 1.5em;
}

.overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.overlay--dark {
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay--marble {
  background-image: url("http://dev.childressagency.com/northoak/wp-content/uploads/2018/10/paper-bg.png");
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
}
.section--inset {
  box-shadow: inset 0 30px 15px -15px rgba(0, 0, 0, 0.4), inset 0 -30px 15px -15px rgba(0, 0, 0, 0.4);
}
.section__heading {
  border-bottom: 1px solid #d29b22;
  margin-bottom: 30px;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

.img-boxes {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  text-align: center;
}

.img-box {
  color: #4a494e;
}
.img-box:hover {
  color: #d29b22;
  text-decoration: none;
}
.img-box__image {
  margin-bottom: 15px;
}
.img-box__title {
  font-size: 24px;
  font-size: 2.4rem;
}

.masthead {
  font-size: 12px;
  font-size: 1.2rem;
  background-color: #4a494e;
  color: #ece9e4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.masthead a {
  color: #ece9e4;
}
.masthead__contact, .masthead__newsletter, .masthead__shop {
  padding-bottom: 5px;
  padding-top: 5px;
}
.masthead__newsletter {
  background-color: #626c75;
}
.masthead__shop > a {
  margin-left: 10px;
}
.masthead__shop > a:first-of-type {
  margin-left: 0;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.header__nav {
  font-size: 16px;
  font-size: 1.6rem;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  width: 75%;
}
.header .nav-link {
  color: #000;
}
.header p {
  text-align: center;
}
.header .navbar-toggler {
  font-size: 20px;
  font-size: 2rem;
  margin: 15px auto;
}
.header .navbar,
.header .menu-main-menu-container {
  width: 100%;
}
.header .dropdown-menu {
  background-color: #626c75;
  padding-bottom: 0;
  padding-top: 0;
}
.header .dropdown-item {
  font-size: 16px;
  font-size: 1.6rem;
  color: #ece9e4;
  text-align: center;
}
.header .dropdown-item:hover {
  background-color: #4a494e;
  color: #ece9e4;
}
.header .dropdown-toggle::after {
  display: none;
}

.carousel {
  height: 500px;
}
.carousel__heading {
  font-size: 70px;
  font-size: 7rem;
  border-bottom: 1px solid #d29b22;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.carousel__text {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans Condensed", "Open Sans", "sans-serif";
  font-weight: bold;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-caption {
  left: 15px;
  padding: 0;
  right: 15px;
  text-align: left;
  top: 15px;
  width: auto;
}

.carousel-indicators {
  bottom: -30px;
  justify-content: flex-start;
  margin: 0;
  position: relative;
}
.carousel-indicators li {
  height: 15px;
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
}

.featured-products {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}
.featured-products__image {
  margin-bottom: 15px;
  width: 100%;
}
.featured-products__title {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.featured-products__title a {
  color: #000;
}
.featured-products__rating {
  margin-bottom: 0;
}
.featured-products__tag {
  font-weight: normal;
}
.featured-products__price {
  font-size: 40px;
  font-size: 4rem;
}
.featured-products__top {
  display: flex;
}
.featured-products__title-review {
  flex: 1;
}
.featured-products__description {
  font-size: 16px;
  font-size: 1.6rem;
}

.instagram {
  height: 240px;
  overflow: hidden;
  position: relative;
}
.instagram__feed {
  height: 100%;
  position: relative;
}
.instagram__controls {
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.4);
  height: 100%;
  position: absolute;
  right: 0;
  width: 80px;
  z-index: 99;
}
.instagram__link {
  background-color: #4a494e;
  color: #8b9c96;
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  z-index: 99;
}
.instagram__link:hover {
  color: #626c75;
}
.instagram__link i {
  font-size: 50px;
  font-size: 5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.instagram__next, .instagram__prev {
  cursor: pointer;
  height: 80px;
  position: absolute;
  right: 0;
  width: 80px;
}
.instagram__next {
  background-color: #626c75;
  top: 80px;
}
.instagram__next .instagram__triangle {
  border-left: 30px solid #8b9c96;
}
.instagram__prev {
  background-color: #8b9c96;
  bottom: 0;
}
.instagram__prev .instagram__triangle {
  border-right: 30px solid #626c75;
}
.instagram__triangle {
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  height: 40px;
  left: 50%;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}

.slick-arrow {
  border: 0;
  height: 80px;
  position: absolute;
  right: 0;
  width: 80px;
  z-index: 99;
}

.slick-next {
  background-color: #626c75;
  top: 80px;
}

.slick-prev {
  background-color: #8b9c96;
  bottom: 0;
}

.slick-slide img {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-initialized .slick-slide {
  height: 100%;
}

.footer-boxes {
  color: #ece9e4;
  display: flex;
  flex-direction: column;
}

.footer-box {
  background-color: #4a494e;
  flex: 1;
  padding: 30px;
}
.footer-box:last-of-type {
  background-color: #626c75;
}
.footer-box__heading {
  align-items: center;
  border-bottom: 1px solid #d29b22;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.footer-box__heading h2 {
  font-size: 28px;
  font-size: 2.8rem;
}
.footer-box__text {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
}
.footer-box__text p {
  margin-bottom: 30px;
}
.footer-box form .ajax-loader {
  display: block;
  margin: 0 auto;
}
.footer-box form .wpcf7-form-control-wrap {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
  max-width: 100%;
}
.footer-box form input {
  font-size: 16px;
  font-size: 1.6rem;
  border: 0;
  color: #4a494e;
  max-width: 100%;
  padding: 10px 15px;
  width: auto;
}
.footer-box form input[type=submit] {
  background-color: #ffb614;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 30px;
  transition: box-shadow 0.3s ease;
  width: auto;
}
.footer-box form input[type=submit]:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.footer-box form p {
  margin-bottom: 0;
  width: 100%;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 30px;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.footer__contact {
  border-bottom: 1px solid #d29b22;
  border-top: 1px solid #d29b22;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;
  padding: 10px 0;
}
.footer__contact > a {
  margin-bottom: 15px;
}
.footer__contact > a:last-of-type {
  margin-bottom: 0;
}
.footer__contact span {
  display: none;
}
.footer__social {
  font-size: 25px;
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.footer__social a {
  margin-bottom: 0;
  margin-right: 10px;
}
.footer__social a:last-of-type {
  margin-right: 0;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer .navbar {
  padding: 0;
}
.footer a {
  color: #000;
}
.footer span {
  margin-left: 10px;
  margin-right: 10px;
}

.copyright__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.copyright__nav .nav-item {
  line-height: 0.5rem;
  margin-bottom: 15px;
}

.menu-footer-menu-container {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .img-boxes {
    grid-template-columns: 1fr 1fr;
  }

  .bigtext {
    font-size: 2em;
  }

  .footer__nav {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .masthead {
    flex-direction: row;
    padding: 0 15px;
    text-align: left;
  }
  .masthead__newsletter {
    left: 50%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    transform: translateX(-50%);
  }

  .header .dropdown-item {
    text-align: left;
  }

  .carousel-caption {
    left: 5vw;
    min-width: 650px;
    right: unset;
    top: 5vw;
    width: 45%;
  }

  .footer-boxes {
    flex-direction: row;
  }

  .footer {
    flex-direction: row;
  }
  .footer__logo {
    margin-bottom: 0;
  }
  .footer__contact {
    flex-direction: row;
  }
  .footer__contact > a {
    margin-bottom: 0;
  }
  .footer__contact span {
    display: initial;
  }
  .footer__social {
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .footer__social a {
    margin-right: 5px;
  }

  .copyright__nav {
    flex-direction: row;
  }
  .copyright__nav .nav-item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .img-boxes {
    display: flex;
    justify-content: space-between;
  }

  .header__nav {
    width: 50%;
  }

  .footer-box__heading h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }
  .footer-box__text {
    font-size: 22px;
    font-size: 2.2rem;
  }
  .footer-box__subtext {
    font-size: 18px;
    font-size: 1.8rem;
  }

  .carousel-caption {
    min-width: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
